// Media query mixin

$xs = 425px
$sm = 576px
$md = 768px
$lg = 992px
$xl = 1250px // 1200

widerthan(var)
  condition = 'screen and (min-width: %s)' % var
  @media condition
    {block}

narrowerthan(var)
  condition = 'screen and (max-width: %s)' % var
  @media condition
    {block}
/*
button
  +widerthan($lg)
    color black
  +widerthan($xs)
    flex-direction column
*/
