// Main Navigation

@import '../styl/m-rem'

.main-nav
  margin-left auto
  &__list
    display flex
    align-items baseline
    list-style none
    padding-left 0
    margin-bottom 0
  &__item
    margin-right 1.75rem
    &_last
      margin-right 0
  &__link
    font-size m-rem(14)
    font-weight 400
    letter-spacing .08
    text-transform uppercase
    color white
    &:hover
    &:active
      color white
      text-decoration underline
