// Section 4

@import '../styl/m-rem'

.section-4
  padding-top m-rem(100)
  padding-bottom m-rem(100)
  &__title
    font-size m-rem(30)
    color #303030
    text-align center
    font-weight 400
    margin-bottom m-rem(24)
  &__lead
    font-size m-rem(16)
    color #777
    line-height 2
    text-align center
    font-weight 400
    margin-bottom m-rem(60)
  &__video
    display block
    width m-rem(950)
    height m-rem(470)
    margin-left auto
    margin-right auto
    border 1px #ddd solid
    padding m-rem(9)
