// Section 7

@import '../styl/m-rem'

.section-7
  padding m-rem(100) 0
  background-color #fafafa
  &__title
    text-align center
    margin-bottom m-rem(28)
    font-weight 400
    color #303030
    font-size m-rem(30)
  &__lead
    text-align center
    margin-bottom m-rem(55)
    font-weight 400
    color #777
    font-size m-rem(16)
