// Section 5

@import '../styl/m-rem'
@import '../styl/m-media'

.section-5-block
  padding-top m-rem(98)
  padding-bottom m-rem(92)

.section-5
  background-image url('../../images/section-5-bg.png')
  background-repeat no-repeat
  background-size cover
  background-position center top
  &__icon
    width m-rem(65)
    height m-rem(65)
    margin-left auto
    margin-right auto
    margin-bottom m-rem(20)
    background-position center center
    background-repeat no-repeat
    &--1
      background-image url('../../images/section-5-icon-1.png')
    &--2
      background-image url('../../images/section-5-icon-2.png')
    &--3
      background-image url('../../images/section-5-icon-3.png')
    &--4
      background-image url('../../images/section-5-icon-4.png')
  &__number
    font-size m-rem(24)
    color white
    text-align center
    margin-bottom m-rem(26)
  &__text
    font-size m-rem(18)
    text-transform uppercase
    color white
    text-align center
