// Section 2

@import '../styl/m-rem'

.section-2
  padding-top m-rem(96)
  padding-bottom m-rem(96)
  &__title
    font-size m-rem(30)
    font-weight 400
    color #303030
    text-align center
    margin-bottom m-rem(24)
  &__lead
    font-size 1rem
    font-weight 400
    color #777
    text-align center
    max-width m-rem(770)
    margin-left auto
    margin-right auto
    line-height 2
    margin-bottom m-rem(52)
  &__phone
    width m-rem(300)
    height m-rem(580)
    background-image url('../../images/section-2-phone.png')
    background-repeat no-repeat
    background-position right bottom
    margin-right m-rem(30)
    margin-left auto
