//- index.pug
extends ../../_base

block title
  | Eros

block main
  //- Page Header
  header.page-header
    .container.page-header__inner
      h1.main-logo
        a.main-logo__link(href='#' title='Eros')
          | Eros
      
      button#main-nav-toggle.main-nav-toggle(type='button')
        | &#9776;
      nav#main-nav.main-nav
        h1.visually-hidden
          | Main Navigation

        ul.main-nav__list
          li.main-nav__item
            a.main-nav__link(href='#')
              | Features
          li.main-nav__item
            a.main-nav__link(href='#')
              | Preview
          li.main-nav__item
            a.main-nav__link(href='#')
              | Reviews
          li.main-nav__item
            a.main-nav__link(href='#')
              | Pricing
          li.main-nav__item.main-nav__item_last
            a.main-nav__link(href='#')
              | Subscribe

  //- Page Main
  main.page-main(role='main')
    //- Section 1
    section.section-1
      .container
        .row
          .col-12.col-md-6
            h1.section-1__title
              | Simply the best in this app
            p.section-1__lead
              | Welcome at Eros a beautiful landing page for your next creation. This is a good presentation website for your app
            button.section-1__button(type='button')
              | Download App
          .col-12.col-md-6
            .section-1__phone

    //- Section 2
    section.section-2
      .container
        h1.section-2__title
          | Fully responsive app
        p.section-2__lead
          | Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums

        .row.justify-lg-center
          .col-12.col-md-6.col-lg-4
            .section-2__phone

          .col-12.col-md-6.col-lg-4
            div.section-2-block
              h2.section-2-block__title.section-2-block__icon--1
                | Fully responsive app
              p.section-2-block__text
                | Aenean tempor porta quam quis tristique. In vulputate eros quis varius rutrum. Nullam rhoncus auctor placerat
            div.section-2-block
              h2.section-2-block__title.section-2-block__icon--2
                | Faster Pages
              p.section-2-block__text
                | Donec vitae nibh a tortor dignissim accumsan. Fusce et tincidunt leo. Duis ut justo at tortor
            div.section-2-block
              h2.section-2-block__title.section-2-block__icon--3
                | Exclusive
              p.section-2-block__text
                | Quisque in pellentesque turpis, eu pulvinar odio. Curabitur consectetur orci sit amet tortor eleifend

    //- Section 3
    section.section-3
      .container
        .row
          .col-12.col-md-6
            h1.section-3__title
              | Beautiful Design
            p.section-3__text
              | Mauris nec magna ac quam scelerisque congue ornare ac tellus. Sed a lacinia massa, eu tincidunt neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit, massa placerat placerat pellentesque, mauris ex porta sem, aliquam feugiat urna massa a ipsum
            p.section-3__text
              | Mauris nec magna ac quam scelerisque congueornare ac tellus. Sed a lacinia massa, eu tincidunt neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit, massa placerat placerat pellentesque, mauris ex porta sem, aliquam feugiat urna massa a ipsum

            button.section-3__button(type='button')
              | Read more
          .col-12.col-md-6
            .section-3__phones

    //- Section 4
    section.section-4
      .container
        h1.section-4__title
          | Simple preview
        p.section-4__lead3
          | Vestibulum egestas varius lectus, ut vehicula lectus consequat quis. Pellentesque vitae maximus libero. Nunc elementum libero ipsum,  eu hendrerit felis dapibus nec. In dapibus facilisis tempor
        video.section-4__video(src=require('../../../videos/Bronze_set.webm') poster=require('../../../images/video-overlay.png') loop controls)
          | Sorry, your browser doesn't support embedded videos, but don't worry, you can 
          a(href='https://youtu.be/iGk5fR-t5AU')
            | download it
          |  and watch it with your favorite video player!

    //- Section 5
    section.section-5
      .container
        h1.visually-hidden.section-5__title
          | Section 5
        .row
          .col-12.col-md-3
            .section-5__icon.section-5__icon--1
            p.section-5__number
              | 567
            p.section-5__text
              | Messages

          .col-12.col-md-3
            .section-5__icon.section-5__icon--2
            p.section-5__number
              | 1.678
            p.section-5__text
              | Likes

          .col-12.col-md-3
            .section-5__icon.section-5__icon--3
            p.section-5__number
              | 437
            p.section-5__text
              | Ideas

          .col-12.col-md-3
            .section-5__icon.section-5__icon--4
            p.section-5__number
              | 1.789
            p.section-5__text
              | Photos

    //- Section 6
    section.section-6
      .container
        .row
          .col-12.col-md-6
            h1.section-6__title
              | Beautiful Design
            p.section-6__text
              | Integer fringilla nibh dolor, non tincidunt orci bibendum ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse velit tellus, tincidunt ac rhoncus ut, consectetur et eros. Cras congue erat erat, quis sodales dolor rhoncus ut. Suspendisse sit amet nisi vitae tellus laoreet facilisis vel quis odio
            blockquote.section-6__quote
              | Vivamus condimentum leo nec dui porttitor commodo. Nunc sollicitudin a ligula sed placerat
            span.section-6__icon
            p.section-6__author
              | John Doe

          .col-12.col-md-6
            .section-6__screens

    //- Section 7
    section.section-7
      .container
        h1.section-7__title
          | Choose your service
        p.section-7__lead
          | Ut vestibulum, purus a eleifend pellentesque, ipsum lacus sagittis est, et ultricies libero ligula ut purus

        .row
          .col-12.col-md-4
            .price-table
              h2.price-table__title
                | Standart
              p.price-table__price
                | &#36;10
              p.price-table__caption
                | Per Month

              ul.price-table__list
                li.price-table__item
                  | - 24/7 Tech Support
                li.price-table__item
                  | - Advanced option
                li.price-table__item
                  | - 1 GB Bandwidth
                li.price-table__item.price-table__item--last
                  | Unlimited subdomains

              button.price-table__button(type='button') Sign Up

          .col-12.col-md-4
            .price-table.price-table--central
              h2.price-table__title.price-table__title--central
                | Premium
              p.price-table__price.price-table__price--central
                | &#36;30
              p.price-table__caption.price-table__caption--central
                | Per Month

              ul.price-table__list
                li.price-table__item.price-table__item--central
                  | - 24/7 Tech Support
                li.price-table__item.price-table__item--central
                  | - Advanced option
                li.price-table__item.price-table__item--central
                  | - 1 GB Bandwidth
                li.price-table__item.price-table__item--central.price-table__item--last
                  | Unlimited subdomains

              button.price-table__button.price-table__button--central(type='button') Sign Up

          .col-12.col-md-4
            .price-table
              h2.price-table__title
                | Elite
              p.price-table__price
                | &#36;45
              p.price-table__caption
                | Per Month

              ul.price-table__list
                li.price-table__item
                  | - 24/7 Tech Support
                li.price-table__item
                  | - Advanced option
                li.price-table__item
                  | - 1 GB Bandwidth
                li.price-table__item.price-table__item--last
                  | Unlimited subdomains

              button.price-table__button(type='button') Sign Up

    //- Section 8
    section.section-8
      .container
        h1.section-8__title
          | Start your free trial
        p.section-8__lead
          | Aliquam eleifend gravida erat, cursus commodo ex egestas in. Quisque porta sit amet nisi id venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos

        form.section-8__form
          input.section-8__input(type='email' placeholder='somebody@example.com')
          button.section-8__button(type='button')
            | Sign Up

  //- Page Footer
  footer.page-footer
    .container
      p.page-footer__copyright
        | &copy; Eros 2018. All Right Reserved. By 
        a(href='https://plus.google.com/117425447333930705403' title='Ethcrawford on Google Plus') Ethcrawford
      ul.social
        li.social__item
          a.social__link.social__link--1(href='#')
        li.social__item
          a.social__link.social__link--2(href='#')
        li.social__item.social__item--last
          a.social__link.social__link--3(href='#')
