//- index.pug
extends ../../_base

block title
  | Eros

block main
  //- Page Header
  header.page-header
    .container.page-header__inner
      h1.main-logo
        a.main-logo__link(href='#' title='Eros')
          | Eros

      nav.main-nav
        h1.visually-hidden
          | Main Navigation

        ul.main-nav__list
          li.main-nav__item
            a.main-nav__link(href='#')
              | Features
          li.main-nav__item
            a.main-nav__link(href='#')
              | Preview
          li.main-nav__item
            a.main-nav__link(href='#')
              | Reviews
          li.main-nav__item
            a.main-nav__link(href='#')
              | Pricing
          li.main-nav__item.main-nav__item_last
            a.main-nav__link(href='#')
              | Subscribe

  //- Page Main
  main.page-main(role='main')
    //- Section 1
    section.section-1
      .container
        .row
          .col-lg-6
            h1.section-1__title
              | Simply the best in this app
            p.section-1__lead
              | Welcome at Eros a beautiful landing page for your next creation. This is a good presentation website for your app

            button.section-1__button(type='button')
              | Download App

          .col-lg-6
            .section-1__phone

    //- Section 2
    section.section-2
      .container
        h1.section-2__title
          | Fully responsive app
        p.section-2__lead
          | Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums

        .row
          .col-lg-6
            .section-2__phone

          .col-lg-6
            div.section-2-block
              span.section-2-block__icon.section-2-block__icon--1
              h2.section-2-block__title
                | Fully responsive app
              p.section-2-block__text
                | Aenean tempor porta quam quis tristique. In vulputate eros quis varius rutrum. Nullam rhoncus auctor placerat
            div.section-2-block
              span.section-2-block__icon.section-2-block__icon--2
              h2.section-2-block__title
                | Faster Pages
              p.section-2-block__text
                | Donec vitae nibh a tortor dignissim accumsan. Fusce et tincidunt leo. Duis ut justo at tortor
            div.section-2-block
              span.section-2-block__icon.section-2-block__icon--3
              h2.section-2-block__title
                | Exclusive
              p.section-2-block__text
                | Quisque in pellentesque turpis, eu pulvinar odio. Curabitur consectetur orci sit amet tortor eleifend

    //- Section 3
    section.section-3
      .container
        .row
          .col-lg-6
            h1.section-3__title
              | Beautiful Design
            p.section-3__text
              | Mauris nec magna ac quam scelerisque congue ornare ac tellus. Sed a lacinia massa, eu tincidunt neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit, massa placerat placerat pellentesque, mauris ex porta sem, aliquam feugiat urna massa a ipsum
            p.section-3__text
              | Mauris nec magna ac quam scelerisque congueornare ac tellus. Sed a lacinia massa, eu tincidunt neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit, massa placerat placerat pellentesque, mauris ex porta sem, aliquam feugiat urna massa a ipsum

            button.section-3__button(type='button')
              | Read more
          .col-lg-6
            .section-3__phones

    //- Section 4
    section.section-4
      .container
        h1.section-4__title
          | Simple preview
        p.section-4__lead3
          | Vestibulum egestas varius lectus, ut vehicula lectus consequat quis. Pellentesque vitae maximus libero. Nunc elementum libero ipsum,  eu hendrerit felis dapibus nec. In dapibus facilisis tempor
        video.section-4__video(src=require('../../../videos/Bronze_set.webm') poster=require('../../../images/video-overlay.png') loop controls)
          | Sorry, your browser doesn't support embedded videos, but don't worry, you can 
          a(href='https://youtu.be/iGk5fR-t5AU')
            | download it
          |  and watch it with your favorite video player!

    //- Section 5
    section.section-5
      .container
        h1.visually-hidden.section-5__title
          | Section 5
        .row
          .col-lg-3
            .section-5__icon.section-5__icon--1
            p.section-5__number
              | 567
            p.section-5__text
              | Messages

          .col-lg-3
            .section-5__icon.section-5__icon--2
            p.section-5__number
              | 1.678
            p.section-5__text
              | Likes

          .col-lg-3
            .section-5__icon.section-5__icon--3
            p.section-5__number
              | 437
            p.section-5__text
              | Ideas

          .col-lg-3
            .section-5__icon.section-5__icon--4
            p.section-5__number
              | 1.789
            p.section-5__text
              | Photos


  //- Page Footer
  footer.page-footer
    .container
      p.page-footer__copyright
        | &copy; Copyright 2018. By 
        a(href='https://plus.google.com/117425447333930705403' title='Ethcrawford on Google Plus') Ethcrawford
