//- index.pug
extends ../../_base

block title
  | Eros

block main
  //- Page Header
  header.page-header
    .container
      h1.logo
        | Eros

  //- Page Main
  main.page-main(role='main')
    .container
      p Main section

  //- Page Footer
  footer.page-footer
    .container
      p.page-footer__copyright
        | &copy; Copyright 2018
